<div class="reg-keret">
    <a class="nav-cim" routerLink="/">
        <img src="../assets/img/logo.png">
        SpeedFormula</a>
        <form class="reg-form" action="">
        <div class="reg-teljesNev">
        <input type="text" id="vezeteknev" placeholder="Vezetéknév">
        <input type="text" id="keresztnev" placeholder="Keresztnév">
        </div>
        <input type="text" id="felhasznalonev" placeholder="Felhasználónév">
        <input type="text" id="emailcim" placeholder="E-mail-cím">
        <input type="password" id="jelszo" placeholder="Jelszó">
        <input type="password" placeholder="Jelszó ismét">
        <input type="button" value="REGISZTRÁLÁS" (click)="regisztracio()">
        <a routerLink="/bejelentkezes">Már van fiókod?</a>
        </form>
</div>