.nav-elo{
    border-radius: 4px;
}

.nav-elo.feketeH {
    background-color: var(--szin-hover-sotet);
}

.nav-elo.feketeH:active {
    background-color: var(--szin-active-sotet);
}

.nav-elo.feherH {
    background-color: var(--szin-hover-vilagos);
}

.nav-elo.feherH:active {
    background-color: var(--szin-active-vilagos);
}

.nav-elo.vorosH {
    background-color: var(--szin-hover-voros);
}

.nav-elo.vorosH:active {
    background-color: var(--szin-active-voros);
}

.tartalom {
    overflow-x: hidden;
    font-family: var(--betutipus-alap);
}

.video-chat-container {
    display: flex;
    margin: 15px 70px 20px 70px;
    gap: 3%;
}

.video-keret {
    display: grid;
    width: fit-content;
    align-items: center;
    border-radius: 5px;
}
  
.video-keret iframe {
    height: 675px;
    width: 1200px;
    margin: 25px 25px;
    border-radius: 5px;
}

.video-keret h2 {
    margin: 0px 0px 0px 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
    padding: 10px;
}
  
.chat-box {
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
}

.chat-message {
    width: 400px;
    margin-bottom: 15px;
}

.chat-message:last-child {
    margin-bottom: 0;
}

.message {
    display: block;
    width: 80%;
    gap: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-header {
    display: flex;
    gap: 10px;
}

.message .sender-name  {
    margin-top: 13px;
    margin-bottom: 10px;
}

.message .text {
    margin: 0;
    padding: 0;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
  
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    margin-top: auto;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
  
input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 10px;
}
  
.send-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.send-icon img {
    height: 24px;
    width: 24px;
    align-items: center;
}

footer {
    margin-top: 10vh;
}