.keret {
    font-family: Helvetica;
}

.felhasznaloAdatok {
    display: flex;
    align-items: center;
}

.felhasznaloAdat {
    margin-left: 20px;
}

.felhasznaloKep {
    height: 150px;
    width: 150px;
}

.felhasznaloNev {
    font-size: 32px;
    font-weight: bold;
}