<!-- Adatvédelem felépítéséért felelős html -->
<div class="tartalom" [ngClass]="temaSzinGordulo">
    <div class="keret" [ngClass]="temaSzinBetu">
        <h1>Adatvédelem</h1>
        <div class="keret-belso" [ngClass]="temaSzin">
            <h2 id="bevezetes">Bevezetés</h2>
            <p>
                A SpeedFormula weboldal célja, hogy a Forma 1 világáról részletes és aktuális információkat nyújtson. Elkötelezettek vagyunk amellett, hogy védjük a látogatóink és felhasználóink személyes adatait, és biztosítsuk, hogy a velünk való interakciók során a magánéletük mindig tiszteletben legyen tartva. Ezen adatvédelmi nyilatkozat bemutatja, hogy milyen információkat gyűjtünk, hogyan használjuk ezeket az adatokat, és milyen intézkedéseket hozunk a biztonságuk érdekében.
            </p>
            <h2>1. Személyes adatok</h2>
            <p>
                Amennyiben Ön regisztrál a Weboldalon, vagy kapcsolatba lép velünk, kérhetjük, hogy adja meg személyes adatait, mint például:
            </p>
            <ul>
                <li>Vezetéknév</li>
                <li>Keresztnév</li>
                <li>E-mail cím</li>
                <li>Jelszó</li>
            </ul>
            <p>
                Ezeket az adatokat kizárólag a szolgáltatásaink nyújtásához és fejlesztéséhez használjuk, valamint a velünk való kapcsolatfelvétel megkönnyítésére.
            </p>
            <h2>2. Adatok felhasználása</h2>
            <p>
                A Weboldalon gyűjtött adatokat a következő célokra használjuk:
            </p>
            <ul>
                <li>Szolgáltatások nyújtása és javítása</li>
                <li>Felhasználói élmény személyre szabása</li>
                <li>Ügyfélszolgálat támogatása</li>
            </ul>
            <h2>3. Adatvédelmi intézkedések</h2>
            <p>
                A személyes adatok védelme érdekében megfelelő technikai és szervezési intézkedéseket hozunk. Az Ön adatainak biztonsága számunkra kiemelt fontosságú, és mindent megteszünk annak érdekében, hogy megakadályozzuk az adatok jogosulatlan hozzáférését, nyilvánosságra hozatalát, módosítását vagy megsemmisítését.
            </p>
            <h2>4. Külső szolgáltatók</h2>
            <p>
                A Weboldalon belül előfordulhatnak linkek harmadik fél weboldalaira. Ezen oldalak adatvédelmi gyakorlataiért nem vállalunk felelősséget. Javasoljuk, hogy olvassa el az adott weboldal adatvédelmi nyilatkozatát, mielőtt megadná személyes adatait.
            </p>
            <h2>5. Jogi megfelelés</h2>
            <p>
                Mivel a Weboldal nem nyilvános, a jogilag védett tartalom használata során mindent megteszünk annak érdekében, hogy a vonatkozó törvényeknek és szabályozásoknak megfelelően járjunk el. A jogtulajdonosok tiszteletben tartása érdekében a Weboldalon használt anyagok csak belső célokra és a vizsgán való bemutatásra korlátozódnak.
            </p>
            <h2>6. Kapcsolatfelvétel</h2>
            <p>
                Ha bármilyen kérdése vagy észrevétele van az adatvédelmi nyilatkozatunkkal kapcsolatban, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségek egyikén:
            </p>
            <ul>
                <li>E-mail: speedformulahu&#64;gmail.com</li>
                <li>Telefonszám: +36/30 814-1606</li>
            </ul>
            <p>
                E nyilatkozat időről időre frissülhet. Javasoljuk, hogy rendszeresen ellenőrizze, hogy naprakész információkat kapjon a Weboldalon alkalmazott adatvédelmi gyakorlatainkról.
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>