.nav-versenyzok{
    border-radius: 4px;
}

.nav-versenyzok.feketeH {
    background-color: var(--szin-hover-sotet);
}

.nav-versenyzok.feketeH:active {
    background-color: var(--szin-active-sotet);
}

.nav-versenyzok.feherH {
    background-color: var(--szin-hover-vilagos);
}

.nav-versenyzok.feherH:active {
    background-color: var(--szin-active-vilagos);
}

.nav-versenyzok.vorosH {
    background-color: var(--szin-hover-voros);
}

.nav-versenyzok.vorosH:active {
    background-color: var(--szin-active-voros);
}

body {
    font-family: var(--betutipus-alap);
    font-size: var(--betumeret-fo);
}

h1 {
    text-align: center;
    margin: auto;
}