<div class="tartalom" [ngClass]="temaSzinGordulo">
    <div class="keret" [ngClass]="temaSzinBetu">
        <div *ngIf="poszt">
            <div class="poszt">
                <div class="posztAdatok">
                    <img class="felhasznaloKep" [src]="poszt.fkep">
                    <p class="felhasznaloNev">{{ poszt.felhasznalo }}</p>
                    <p class="elteltIdo"> • {{poszt.elteltIdo}}</p>
                    <div class="torles-kep" *ngIf="poszt.sajatFelhasznalo || szerep === 1" (click)="posztTorles(poszt.id)">
                        <img class="torles-kep" src="../../assets/icons/trash.png" *ngIf="vilagos">
                        <img class="torles-kep" src="../../assets/icons/trash-white.png" *ngIf="sotet || voros">
                    </div>
                </div>
                <h2 class="cim">{{ poszt.cim }}</h2>
                <p class="szoveg" *ngIf="poszt.szoveg != null">{{ poszt.szoveg }}</p>
                <img class="kep" [src]="poszt.kep" *ngIf="poszt.kep != null">
                <img class="video" [src]="poszt.video" *ngIf="poszt.video != null" >
            </div>

            <div class="posztGombok" *ngIf="haBejelentkezett">
                <div class="kedveles-gomb" *ngIf="!poszt.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kedvelesClick(poszt?.id)">
                    <img class="kedveles-kep" src="../../assets/icons/favorite.png" *ngIf="vilagos">
                    <img class="kedveles-kep" src="../../assets/icons/favorite-white.png" *ngIf="sotet || voros">
                    <p class="kedveles-szoveg">{{ poszt.kedveles }}</p>
                </div>
                <div class="kedveles-gomb" *ngIf="poszt.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kikedvelesClick(poszt?.id)">
                    <img class="kedveles-kep" src="../../assets/icons/favorite-full.png" *ngIf="vilagos">
                    <img class="kedveles-kep" src="../../assets/icons/favorite-white-full.png" *ngIf="sotet || voros">
                    <p class="kedveles-szoveg">{{ poszt.kedveles }}</p>
                </div>

                <div class="komment-gomb" [ngClass]="[temaSzin2, temaSzinHover]" (click)="uzenetKuldesMegjelenitesClick()">
                    <img class="komment-kep" src="../../assets/icons/message.png" *ngIf="vilagos">
                    <img class="komment-kep" src="../../assets/icons/message-white.png" *ngIf="sotet || voros">
                    <p class="komment-szoveg">{{ poszt.kommentek }}</p>
                </div>

                <div class="megosztas-gomb" [ngClass]="[temaSzin2, temaSzinHover]" (click)="urlMasolas(poszt?.id)" >
                    <img class="megosztas-kep" src="../../assets/icons/share.png" *ngIf="vilagos">
                    <img class="megosztas-kep" src="../../assets/icons/share-white.png" *ngIf="sotet || voros">
                    <p class="megosztas-szoveg">Megosztás</p>
                </div>
            </div>
            <hr *ngIf="!haBejelentkezett">
            <div *ngIf="haBejelentkezett">
                <button class="uzenetGomb" [ngClass]="temaSzin2" *ngIf="uzenetGombMegjelenites" (click)="uzenetKuldesMegjelenitesClick()">Komment írása...</button>
                
                <div class="uzenetGombok-keret" [ngClass]="temaSzin2" *ngIf="uzenetKuldesMegjelenites">
                    <textarea #textarea class="uzenet-keret" [(ngModel)]="uzenet" [ngClass]="temaSzin2"></textarea>
         
                    <div class="gombok">
                        <button class="mentes" (click)="mentes(poszt?.id)" [ngClass]="[temaSzin, temaSzinHover]">Komment</button>
                        <button class="megse" (click)="bezar()" [ngClass]="[temaSzin, temaSzinHover]">Mégse</button>
                    </div>
                </div>
            </div>
            
            <div class="kommentek" *ngFor="let komment of kommentek">
                <div class="komment">
                    <div class="kommentAdatok">
                        <img class="felhasznaloKep" [src]="komment.fkep">
                        <p class="felhasznaloNev">{{ komment.felhasznalo }}</p>
                        <p class="elteltIdo"> • {{ komment.elteltIdo }}</p>
                        <div class="torles-kep" *ngIf="komment.sajatFelhasznalo || szerep === 1" (click)="kommentTorles(komment.id)">
                            <img class="torles-kep" src="../../assets/icons/trash.png" *ngIf="vilagos">
                            <img class="torles-kep" src="../../assets/icons/trash-white.png" *ngIf="sotet || voros">
                        </div>
                    </div>
                    <p class="szoveg" *ngIf="komment.szoveg != null" [innerHTML]="linkeles(komment.szoveg)">{{ komment.szoveg }}</p>
                </div>

                <div class="kommentGombok" *ngIf="haBejelentkezett">
                    <div class="kedveles-gomb" *ngIf="!komment.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kedvelesKommentClick(komment?.id)">
                        <img class="kedveles-kep" src="../../assets/icons/favorite.png" *ngIf="vilagos">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-white.png" *ngIf="sotet || voros">
                        <p class="kedveles-szoveg">{{ komment.kedveles }}</p>
                    </div>
                    <div class="kedveles-gomb" *ngIf="komment.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kikedvelesKommentClick(komment?.id)">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-full.png" *ngIf="vilagos">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-white-full.png" *ngIf="sotet || voros">
                        <p class="kedveles-szoveg">{{ komment.kedveles }}</p>
                    </div>

                    <div class="komment-gomb" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kommentUzenetKuldesMegjelenitesClick(komment?.id)">
                        <img class="komment-kep" src="../../assets/icons/message.png" *ngIf="vilagos">
                        <img class="komment-kep" src="../../assets/icons/message-white.png" *ngIf="sotet || voros">
                        <p class="komment-szoveg">{{ komment.alkommentek }}</p>
                    </div>
                    <p class="valasz-megnyitas" (click)="alKommentMegjelenitesClick(komment?.id)" *ngIf="komment?.alkommentek > 0">Válaszok megnyitása</p>
                </div>
                <div class="uzenetGombok-keret" [ngClass]="temaSzin2" *ngIf="megnyitottKommentId === komment.id">
                    <textarea #textarea class="uzenet-keret" [(ngModel)]="uzenetek[komment.id]" [ngClass]="temaSzin2"></textarea>
         
                    <div class="gombok">
                        <button class="mentes" (click)="mentesKomment(komment?.id)" [ngClass]="[temaSzin, temaSzinHover]">Komment</button>
                        <button class="megse" (click)="bezarKomment(komment?.id)" [ngClass]="[temaSzin, temaSzinHover]">Mégse</button>
                    </div>
                </div>

                <div *ngIf="megnyitottAlkommentId === komment?.id">
                    <hr>
                    <div class="alkommentek" *ngFor="let alkomment of komment.alKommmentek">
                        <div class="komment">
                            <div class="kommentAdatok">
                                <img class="felhasznaloKep" [src]="alkomment.fkep">
                                <p class="felhasznaloNev">{{ alkomment.felhasznalo }}</p>
                                <p class="elteltIdo"> • {{ alkomment.elteltIdo }}</p>
                                <div class="torles-kep" *ngIf="alkomment.sajatFelhasznalo || szerep === 1" (click)="kommentTorles(alkomment.id)">
                                    <img class="torles-kep" src="../../assets/icons/trash.png" *ngIf="vilagos">
                                    <img class="torles-kep" src="../../assets/icons/trash-white.png" *ngIf="sotet || voros">
                                </div>
                            </div>
                            <p class="szoveg" [innerHTML]="linkeles(alkomment.szoveg)">{{ alkomment.szoveg }}</p>
                        </div>
                        <div class="kommentGombok" *ngIf="haBejelentkezett">
                            <div class="kedveles-gomb" *ngIf="!alkomment.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kedvelesAlkommentClick(alkomment.id)">
                                <img class="kedveles-kep" src="../../assets/icons/favorite.png" *ngIf="vilagos">
                                <img class="kedveles-kep" src="../../assets/icons/favorite-white.png" *ngIf="sotet || voros">
                                <p class="kedveles-szoveg">{{ alkomment.kedveles }}</p>
                            </div>
                            <div class="kedveles-gomb" *ngIf="alkomment.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kikedvelesAlkommentClick(alkomment.id)">
                                <img class="kedveles-kep" src="../../assets/icons/favorite-full.png" *ngIf="vilagos">
                                <img class="kedveles-kep" src="../../assets/icons/favorite-white-full.png" *ngIf="sotet || voros">
                                <p class="kedveles-szoveg">{{ alkomment.kedveles }}</p>
                            </div>
        
                            <div class="komment-gomb" [ngClass]="[temaSzin2, temaSzinHover]" (click)="alKommentUzenetKuldesMegjelenitesClick(alkomment?.id,komment.id)">
                                <img class="alkomment-kep" src="../../assets/icons/message.png" *ngIf="vilagos">
                                <img class="alkomment-kep" src="../../assets/icons/message-white.png" *ngIf="sotet || voros">
                            </div>
                        </div>
                        <div class="uzenetGombok-keret" [ngClass]="temaSzin2" *ngIf="megnyitottKommentId === alkomment?.id">
                            <textarea #textarea class="uzenet-keret" [(ngModel)]="uzenetek[komment?.id]" [ngClass]="temaSzin2"></textarea>
             
                            <div class="gombok">
                                <button class="mentes" (click)="mentesKomment(komment.id)" [ngClass]="[temaSzin, temaSzinHover]">Komment</button>
                                <button class="megse" (click)="bezarAlkomment(alkomment.id)" [ngClass]="[temaSzin, temaSzinHover]">Mégse</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
