.tartalom{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.tartalom:focus {
    outline: none;
    background-color: transparent;
}

.keret{
    height: 60vh;
    width: 45vw;
    margin-top: -88px;
    margin-bottom: 40px;
    border-radius: 70px;
}

h1, h2{
    text-align: center;
    font-family: var(--betutipus-alap);
    font-weight: normal;
    user-select: none;
}

h2{
    margin-right: 30vw;
    margin-top: 2vh;
}

p{
    margin-left: 1vw;
    font-family: var(--betutipus-alap);
    font-weight: normal;
    user-select: none;
}

p.adat{
    margin-right: 1vw;
    user-select: none;
    color: grey;
}

.gomb{
    height: 45px;
    width: 45px;
    margin-right: 1vw;
    user-select: none;
}

.opcio{
    display: flex;
    width: 35vw;
    margin-left: 6vw;
    margin-top: -0.5vh;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
    cursor: pointer;
}

.opcioTema {
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    gap: 3vw;
}

.temaElem {
    display: flex;
    padding: 10px 20px 10px 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.temaIkon {
    display: block;
    height: 125px;
    width: 125px;
    user-select: none;
}

.temaElem p {
    margin: 0;
    margin-top: 1vh;
    font-family: var(--betutipus-alap);
    font-size:  var(--betumeret-fo);
    user-select: none;
}

ul.valaszto{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style-type: none;
}

.valaszto li{
    padding: 5px 10px;
    font-family: var(--betutipus-alap);
    font-size:  var(--betumeret-fo);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}
.valaszto>div{
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

.opcioTema>div{
    border-radius: 15px;
}

#password {
    display: flex;
    margin: 0;
    align-items: center;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 30px;
}

.modositas {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.modositas-cim {
    display: flex;
    margin: 0;
    justify-content: center;
}

.modositas-tartalom {
    width: 80%;
    max-width: 500px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
}

.bezar {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}

.bezar:hover,
.bezar:focus {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #888;
}

input:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    
}

.gombok {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#torloGombok {
    margin-top: 15px;
}

button.mentes {
    background-color: #4CAF50;
}

button.megse {
    background-color: #ad4949;
}

button.mentes:hover {
    background-color: #45a049;
}

button.megse:hover {
    background-color: #a04545;
}

.sikerHatter {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.ertesitessav {
    display: flex;
    position: fixed;
    width: 450px;
    height: 50px;
    border-radius: 35px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ertesitessav#siker {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ertesitessav#hiba {
    margin-top: 150px;
}

.hibaSzin {
    background-color: rgb(255, 158, 158);
}

.sikerSzin{
    background-color: rgb(110, 204, 123);
}

#uzenet {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: var(--betutipus-alap);
    cursor: default;
    color: white;
}

@keyframes hibaVillan {
    0%, 100% {
        background-color: rgb(255, 158, 158);
    }
    50% {
        background-color: rgb(255, 87, 87);
    }
}

@keyframes sikerVillan {
    0%, 100% {
        background-color: rgb(110, 204, 123);
    }
    50% {
        background-color: rgb(46, 216, 54);
    }
}

.ertesitessav.hibaVillan {
    animation: hibaVillan 0.5s ease-in-out;
}

.ertesitessav.sikerVillan {
    animation: sikerVillan 0.5s ease-in-out;
}

