<div class="tartalom" [ngClass]="temaSzinGordulo">
    <div class="letrehozas-gomb" *ngIf="haBejelentkezett" [ngClass]="[temaSzin2, temaSzinHover]" routerLink="/forum-poszt-letrehozas">
        <img class="letrehozas-kep" src="../../assets/icons/create.png" *ngIf="vilagos">
        <img class="letrehozas-kep" src="../../assets/icons/create-white.png" *ngIf="sotet || voros">
        <p class="letrehozas-szoveg">Létrehozás</p>
    </div>
    <div class="keret" [ngClass]="temaSzinBetu">

        <div class="forum-keret">
          
            <div *ngIf="posztok.length === 0">
              <p>Nincsenek elérhető posztok.</p>
            </div>
          
            <div class="posztok" *ngFor="let poszt of posztok">
                <div class="poszt">
                    <div class="posztAdatok">
                        <img class="felhasznaloKep" [src]="poszt.fkep">
                        <p class="felhasznaloNev">{{ poszt.felhasznalo }}</p>
                        <p class="elteltIdo"> • {{poszt.elteltIdo}}</p>
                        <div class="torles-kep" *ngIf="poszt.sajatFelhasznalo || szerep === 1" (click)="posztTorles(poszt.id)">
                            <img class="torles-kep" src="../../assets/icons/trash.png" *ngIf="vilagos">
                            <img class="torles-kep" src="../../assets/icons/trash-white.png" *ngIf="sotet || voros">
                        </div>
                    </div>
                    <div [routerLink]="['/forum',poszt.id]">
                        <h2 class="cim">{{ poszt.cim }}</h2>
                        <p class="szoveg" *ngIf="poszt.szoveg != null">{{ poszt.szoveg }}</p>
                        <img class="kep" [src]="poszt.kep" *ngIf="poszt.kep != null">
                        <img class="video" [src]="poszt.video" *ngIf="poszt.video != null" >
                    </div>

                </div>
                <div class="posztGombok" *ngIf="haBejelentkezett">

                    <div class="kedveles-gomb" *ngIf="!poszt.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kedvelesClick(poszt?.id)">
                        <img class="kedveles-kep" src="../../assets/icons/favorite.png" *ngIf="vilagos">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-white.png" *ngIf="sotet || voros">
                        <p class="kedveles-szoveg">{{ poszt.kedveles }}</p>
                    </div>
                    <div class="kedveles-gomb" *ngIf="poszt.kedvelte" [ngClass]="[temaSzin2, temaSzinHover]" (click)="kikedvelesClick(poszt?.id)">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-full.png" *ngIf="vilagos">
                        <img class="kedveles-kep" src="../../assets/icons/favorite-white-full.png" *ngIf="sotet || voros">
                        <p class="kedveles-szoveg">{{ poszt.kedveles }}</p>
                    </div>


                    <div class="komment-gomb" [ngClass]="[temaSzin2, temaSzinHover]" [routerLink]="['/forum',poszt.id]">
                        <img class="komment-kep" src="../../assets/icons/message.png" *ngIf="vilagos">
                        <img class="komment-kep" src="../../assets/icons/message-white.png" *ngIf="sotet || voros">
                        <p class="komment-szoveg">{{ poszt.kommentek }}</p>
                    </div>

                    <div class="megosztas-gomb" [ngClass]="[temaSzin2, temaSzinHover]" (click)="urlMasolas(poszt?.id)" >
                        <img class="megosztas-kep" src="../../assets/icons/share.png" *ngIf="vilagos">
                        <img class="megosztas-kep" src="../../assets/icons/share-white.png" *ngIf="sotet || voros">
                        <p class="megosztas-szoveg">Megosztás</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
      
</div>