.nav-forum{
    border-radius: 4px;
}

.nav-forum.feketeH {
    background-color: var(--szin-hover-sotet);
}

.nav-forum.feketeH:active {
    background-color: var(--szin-active-sotet);
}

.nav-forum.feherH {
    background-color: var(--szin-hover-vilagos);
}

.nav-forum.feherH:active {
    background-color: var(--szin-active-vilagos);
}

.nav-forum.vorosH {
    background-color: var(--szin-hover-voros);
}

.nav-forum.vorosH:active {
    background-color: var(--szin-active-voros);
}

.tartalom {
    font-family: var(--betutipus-alap);
    font-size: 16px;
}

.keret {
    font-family: var(--betutipus-alap);
    font-size: 16px;
}

.poszt {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.posztAdatok {
    display: flex;
    align-items: center;
}

.felhasznaloNev {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.felhasznaloKep {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.torles-kep {
    margin-left: auto;
    width: 25px;
    height: 25px;
    user-select: none;
    cursor: pointer;
}

.elteltIdo {
    margin-left: 10px;
    font-size: 14px;
}

.cim {
    margin: 5px 0 20px 0;
    font-size: 22px;
    word-break: break-all;
}

.szoveg {
    margin: 0;
    font-size: 18px;
    word-break: break-all;
}

.letrehozas-gomb {
    position: fixed;
    margin-top: 25px;
    right: 32px;
    padding: 0px 10px 0px 10px;
}

.letrehozas-kep {
    margin-right: 10px;
}

.letrehozas-gomb, .kedveles-gomb, .komment-gomb, 
.megosztas-gomb, .mentes-gomb{
    display: flex;
    border-radius: 15px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}


.letrehozas-kep, .kedveles-kep, .komment-kep, .megosztas-kep, .mentes-kep {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.megosztas-szoveg, .mentes-szoveg {
    margin-left: -5px;
}

.posztGombok {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}

.kedveles-gomb, .komment-gomb, 
.megosztas-gomb, .mentes-gomb{
    padding: 0px 10px 0px 10px;
}


@media only screen and (max-width: 1200px) {
    .keret {
        width: 50%;
    }
}

@media only screen and (max-width: 867px) {
    .keret {
        width: 60%;
    }

    .letrehozas-gomb {
        right: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .keret {
        width: 70%;
    }

    .letrehozas-gomb {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .keret {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .keret {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .keret {
        width: 99%;
    }

    .letrehozas-gomb {
        right: 2px;
    }
}

