<!-- Hiba oldal (404) felépítéséért felelős html -->
<div class="hiba-keret">
        <div class="kozep">
                <a class="nav-title" routerLink="/">
                        <img src="../../assets/img/logo_speedformula.png">
                       </a>
        </div>
        <div class="kozepy">
                <div class="kozep">
                        <div class="blur"></div>
                                <img class="hibakep" src="../../assets/img/error_404.png">
                        
                </div>
        <div class="kozep">
                <h1>Az oldal nem található!</h1>
        </div>
        <div class="kozep">
                <button routerLink="/">MENJ A FŐOLDALRA</button>
        </div>
        
        </div>
</div>

