<!-- Kezdőlap felépítéséért felelős html -->
<div class="tartalom-nelkul">
    <div class="blur">
        <video autoplay muted loop playsinline>
            <source src="/assets/kezdolap-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="osszes-animacio">
        <div class="kezdo-szoveg">
            <h1 class="animacio">Sebesség. Szenvedély. Történelem.</h1>
        </div>
        <div class="kezdo-szoveg2">
            <h2 class="animacio2">Ez a SpeedFormula</h2>
        </div>
        <div class="kezdo-szoveg3">
            <h3 class="animacio3">A Forma-1 világa egy kattintásra!</h3>
        </div>
    </div>
    <app-footer></app-footer>
</div>


