<footer>
    <div class="footer-keret">
        <div class="footer-oszlop">
            <h3>KAPCSOLAT</h3>
            <ul>
                <li><a routerLink="/visszajelzes">Visszajelzés</a></li>
                <li><a href= "mailto: speedformulahun@gmail.com">speedformulahun&#64;gmail.com</a></li>
                <li><a href="tel: +36308141606">+36308141606</a></li>
            </ul>
        </div>
        <div class="footer-oszlop">
            <h3>INFORMÁCIÓ</h3>
            <ul>
                <li><a routerLink="/rolunk">Rólunk</a></li>
                <li><a routerLink="/gyik">GYIK</a></li>
                <li><a routerLink="/adatvedelem">Adatvédelem</a></li>
            </ul>
        </div>
        <div class="footer-oszlop">
            <h3>KÖZÖSSÉGI MÉDIA</h3>
            <ul>
                <li><a href="#"><img src="../../assets/img/logo_facebook.png">facebook</a></li>
                <li><a href="#"><img src="../../assets/img/logo_instagram.png">instagram</a></li>
                <li><a href="#"><img src="../../assets/img/logo_youtube.png">youtube</a></li>
            </ul>
        </div>
    </div>
    </footer>
